* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color: #000;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url("https://www.desktopbackground.org/download/1680x1050/2013/07/30/615486_photography-portfolio-websites-minimalist-amazing-1920x1080-hd_1920x1080_h.jpg");
    color: white;
    position: relative;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10%;
    margin-bottom: 20px;

}

.nav-links {
    text-align: right;
    background: rgb(227, 78, 78);
    padding: 10px 30px;
    border-bottom-left-radius: 18px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li a:hover {
    color: #000;
}

.sidebar-left {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;

}

.row {
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-top: -1%;

}

.column-left {
    flex-basis: 40%;
}

.column-left img {
    width: 80%;
    cursor: pointer;
    filter: grayscale(0);
    transition: filter 1s;
}

.column-left img:hover {
    filter: grayscale(1);
}

.column-right {
    flex-basis: 55%;
}

.column-right h1 {
    font-size: 35px;
    font-weight: 600;
    display: flex;
}

.column-right p {
    color: rgb(155, 151, 151);
    margin: 20px 0 70px;
}

.icons {
    width: 100px;
    height: 100px;
    background: #555;
    align-items: center;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.5s;
}

.icons i {
    width: 28px;
    font-size: 35px;
}

.icons a {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 00.5s;
}

.icons a:hover {
    opacity: 1;
}

.icons:hover {
    transform: translate(-5px);
}

.social-media {
    display: flex;
    margin-top: 0px;
}

.fa-js:before {
    content: "\f3b8";
    font-size: 70px;
}

.language-bar {
    background-color: #000;
    display: flex;
    position: relative;
    height: 16vh;
    justify-content: space-evenly;

}

.languages {
    border-radius: 10%;
    width: 85px;
    height: 85px;
    margin-top: 14px;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(122, 117, 117);
    cursor: pointer;
}

.languages :hover {
    color: rgb(227, 78, 78);
    transition-delay: 0.5s;
}

.languages i {
    font-size: 77px;
    margin-left: 13px;
    margin-top: 6px;
}



.project-heading {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-heading h3 {
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    color: #f1f4d4;
}

.project-container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    background-image: url(https://cdn.wallpapersafari.com/24/95/KXMnj0.jpg);
}

.project-box {
    border: 3px solid #f1f4d4;
    margin: 35px;
    width: 329px;
    padding: 5px;
    background-color: #000;
}

.project-box img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.project-box-main {
    border: 3px solid #f1f4d4;
    margin: 35px;
    width: 740px;
    padding: 5px;
    background-color: #000;
}

.project-box-main img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.project-container a {
    background-color: #f1f4d4;
    transition: 00.5s;
}

.project-container a:hover {
    opacity: 1;
    transform: translate(-5px);
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    max-width: 60vh;
}

.project-box:hover .overlay {
    opacity: 1;
}

.project-box-main:hover .overlay {
    opacity: 1;
}